{{ define "main" }}
         <section class="page-section cta">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <div class="cta-inner bg-faded text-center rounded">
                            <p class="mb-0">{{ .Content }}</p>
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5392.488241490137!2d9.683330012999972!3d47.48515749623412!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479b1238f5533ba5%3A0x307bc01c515cd6cb!2sMockenstra%C3%9Fe%208%2C%206971%20Hard!5e0!3m2!1sde!2sat!4v1744302738647!5m2!1sde!2sat" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>
		
{{ end }}
