{{ define "main" }}

<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="/wahl.jpg" alt="..." />
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">{{ .Title }}</span>
                    <span class="section-heading-lower">{{ .Params.description }}</span>
                </h2>
                <p class="mb-3">{{ .Content }}</p>
                <!--<div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="#!">Visit Us Today!</a></div>-->
            </div>
        </div>
    </div>
</section>


{{ $wahl2 := .Site.GetPage "wahlaerztin2.md" }}		
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-4">
                        <!--<span class="section-heading-upper">Our Promise</span>-->
                        <span class="section-heading-lower">{{ $wahl2.Params.description }}</span>
                    </h2>
                    <p class="mb-0">{{ $wahl2.Content }}</p>
                </div>
            </div>
        </div>
    </div>
</section>


{{ end }}
